part2/exercises 2.15 - 2.20 and 3.9 - 3.21/node_modules
part4/node_modules
part5/node_modules
part6/exercises 6.1 - 6.2/node_modules
part6/exercises 6.3 - 6.21/node_modules
part7/exercises 7.1 - 7.6/node_modules
part7/exercise 7.7/node_modules
part7/exercise 7.8/node_modules