part2/exercises 2.15 - 2.20 and 3.9 - 3.21/node_modules
part4/node_modules
part5/node_modules
part6/exercises 6.1 - 6.2/node_modules
part6/exercises 6.3 - 6.21/node_modules
part7/exercises 7.1 - 7.6/node_modules
part7/exercise 7.7/node_modules
part7/exercise 7.8/node_modules
part7/exercises 7.9 - 7.21/backend/node_modules
part7/exercises 7.9 - 7.21/frontend/node_modules
part8/exercises 8.1 - 8.26/backend/node_modules
part8/exercises 8.1 - 8.26/backend/.env
part8/exercises 8.1 - 8.26/frontend/node_modules
part9/exercises 9.1 - 9.7/node_modules
part9/exercises 9.8 - 9.13_9.20 - 9.29/backend/node_modules
part9/exercises 9.8 - 9.13_9.20 - 9.29/frontend/node_modules
part9/exercises 9.14 - 9.15/node_modules
part9/exercises 9.16 - 9.19/node_modules
part9/exercises 9.16 - 9.19/node_modules